
/langitia/src/main/resources/application.properties
langitia/src/main/resources/application.properties
*.properties

*.war

langitia/src/main/java/com/annoapp/langitia/Configuration/BeansSecurityConfig.java
